@media screen and (min-width: 993px) {
	body {
		background-image: url("omfgdogs.gif");
	}
	h1 {
		display: none;
	}
}

a {
	position: absolute;
	bottom: 0;
	right: 16px;
	font-size: 48px;
	color: maroon;
	font-weight: bold;
	font-family: sans-serif;
}